* {
    border-radius: 10px;
}
.cards {
    min-height: 100vh;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    flex: 0 0 250px;
    background: rgb(226, 226, 226);
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:nth-child(2) {
    transform: scale(1.3);
}
.card header {
    height: 200px;
    background: rgb(112, 112, 112);
    z-index: 5000;
}
.card ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.card ul li {
    width: 200px;
    height: 30px;
    margin: 12px 0;
    background-color: rgb(54, 54, 54);
}

button {
    height: 45px;
    background: black;
    width: 130px;
    align-self: center;
    margin-bottom: 30px;
}